
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 24px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header  h1 {
    font-size: 4rem;
}

.btn {
    padding: 8px 12px;
    height: 40px;
    border-radius: 8px;
    font-size: 1.8rem;

    border: none;
    outline: none;
    cursor: pointer;
}

.btn--primary {
    color: white;
    background-color: #84AE92;
}

.btn--primary:hover {
    background-color: #5A827E;
}

.btn--medium {
    font-size: 1.6rem;
    padding: 4px 8px;
    height: 36px;
}

.btn--remove {
    color: white;
    background-color: #FF6363;
}

.btn--edit {
    background-color: #FFD66B;
}

table {
    margin-top: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;  
    font-size: 1.8rem;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


 dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 2rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    animation: fadeIn 0.3s ease-out;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

#myDialog h2 {
    font-size: 2rem;
}

.form-group {
    
    margin-top: 12px;
}

.form-group label {
    display: block;
    font-size: 1.6rem;
    
    margin-bottom: 4px;
    cursor: pointer;
}

.form-group input {
    width: 100%;
    font-size: 1.4rem;
    padding: 8px;
    
    border: 1px solid #ccc;
}

.form-action {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
